dacite
eyed3
fastapi
lyricsgenius
munch
pysftp
python-dotenv
retry
spotipy
spotdl

cli @ git+https://github.com/quintenroets/cli
libs @ git+https://github.com/quintenroets/libs
tbhandler @ git+https://github.com/quintenroets/tbhandler
